<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Prix imbattables, délais de livraison très correct, Site à recommander.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <p class="note"><span class="orange">9,2*</span>/10</p>
       <div class="avis">
        <div class="petit"><p class="orange">37538 *6mois</p></div>
        <div class="petit"><p>avis clients Flanet</p></div>
       </div>
      <p>Nos clients sont satisfaits :</p>
      <img class="stars" src="./app/img/stars.png" alt="* * * * *">
    </div>
    <div class="bord col-xs-3">
      <p><strong>1700</strong></p>
      <p>centres de montage</p>
    </div>
    <div class="bord col-xs-3">
      <p><strong>Pièces</strong></p>
      <p>neuves & d'origines</p>
    </div>
    <div class="bord col-xs-3">
      <p><strong>Paiement</strong></p>
      <p>100% sécurisé</p>
    </div>
  </div>
</div>
