<div class="container">
  <div class="row">
    <table class="col-xs-12">
      <tr>
        <td></td>
        <td></td>
        <td><img src="./app/img/piece1.jpg" alt=""></td>
        <td><img src="./app/img/piece2.jpg" alt=""></td>
        <td><img src="./app/img/piece3.jpg" alt=""></td>
      </tr>
      <tr>
        <td><img src="./app/img/piece4.jpg" alt=""></td>
        <td><img src="./app/img/piece5.jpg" alt=""></td>
        <td><img src="./app/img/piece6.jpg" alt=""></td>
        <td><img src="./app/img/piece7.jpg" alt=""></td>
        <td><img src="./app/img/piece8.jpg" alt=""></td>
      </tr>
      <tr>
        <td><img src="./app/img/piece9.jpg" alt=""></td>
        <td><img src="./app/img/piece10.jpg" alt=""></td>
        <td><img src="./app/img/piece11.jpg" alt=""></td>
        <td><img src="./app/img/piece12.jpg" alt=""></td>
        <td><img src="./app/img/piece13.jpg" alt=""></td>
      </tr>
    </table>
  </div>
</div>
