<yaka-recherche></yaka-recherche>
<yaka-banner></yaka-banner>
<yaka-mavoiture></yaka-mavoiture>
<yaka-pieces></yaka-pieces>
<yaka-offres></yaka-offres>
<div class="container">
  <div class="row">
    <yaka-articles2 class="col-xs-6"></yaka-articles2>
    <yaka-articles3 class="col-xs-6"></yaka-articles3>
    <yaka-reducs2 class="col-xs-6"></yaka-reducs2>
    <yaka-reducs3 class="col-xs-6"></yaka-reducs3>
  </div>
</div>

<yaka-discount></yaka-discount>
<yaka-certif></yaka-certif>
<div class="container">
  <div class="row">
    <yaka-video class="col-xs-12"></yaka-video>
  </div>
</div>

<div class="container">
  <div class="row">
    <yaka-garages class="col-md-4"></yaka-garages>
    <yaka-newsletter class="col-md-4"></yaka-newsletter>
    <yaka-social class="col-md-4 col-xs-12"></yaka-social>
  </div>
</div>

<yaka-footer></yaka-footer>
<yaka-partenaires></yaka-partenaires>
