<nav class="navbar navbar-dark bg-inverse">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link" href="#">Pièces<br>détachées</a>
    <a class="nav-item nav-link" href="#">Pneux et Jantes</a>
    <a class="nav-item nav-link" href="#">Batteries</a>
    <a class="nav-item nav-link" href="#">Accessoires<br>et<br>Entretien</a>
    <a class="nav-item nav-link" href="#">Attelage<br>et<br>Potage</a>
    <a class="nav-item nav-link" href="#">Carrosserie<br>outillage</a>
    <a class="nav-item nav-link" href="#">Moto</a>
    <a class="nav-item nav-link" href="#">Centre de montage</a>
  </div>
</nav>
