<div class="head">
  <a href="monCompte"></a>
    <img class="compte" src="./app/img/avatar.png" alt="Mon compte">
    <img class="logo" src="./app/img/yakarouler-logo.png" alt="Yakarouler.com">
    <button type="button" data-toggle="modal" data-target="#myModal">
      <img class="menu" src="./app/img/menuburger.png" alt="Menu">
    </button>
  <yaka-menudesk></yaka-menudesk>
</div>





<!-- Menu modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul>
          <li><a href="">Pièces détachées</a></li>
          <li><a href="">Pneus et Jantes</a></li>
          <li><a href="">Chaines à neige</a></li>
          <li><a href="">Batteries</a></li>
          <li><a href="">Huiles</a></li>
          <li><a href="">Accessoires et Entretien</a></li>
          <li><a href="">Son Tel et Alarmes</a></li>
          <li><a href="">Attelage et Portage</a></li>
          <li><a href="">Carrosserie</a></li>
          <li><a href="">Outillage</a></li>
          <li><a href="">Moto</a></li>
          <li><a href="">Centres de montage</a></li>
          <li><a href="">Magasin</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
